
<body>
    <div class="container">
        <div class="stats">
            <div class="stat-card">Total Events<br><span>200</span></div>
            <div class="stat-card">Approved Events<br><span>80</span></div>
            <div class="stat-card">Pending Events<br><span>100</span></div>
            <div class="stat-card">Canceled Events<br><span>20</span></div>
            <div class="stat-card">Total Users<br><span>1000</span></div>
            <div class="stat-card">Event Organizers<br><span>50</span></div>
            <div class="stat-card">Attendees<br><span>900</span></div>
            <div class="stat-card">Total Revenue<br><span>$1000</span></div>
        </div>
        <h2>Approved Managers</h2>
        <div class="top-events">
            <div class="top-event-row header">
                <div class="top-event-cell"><h2>Image</h2></div>
                <div class="top-event-cell"><h2>userName</h2></div>
                <div class="top-event-cell"><h2>email</h2></div>
                <div class="top-event-cell"><h2>phoneNumber</h2></div>
                <div class="top-event-cell"><h2>location</h2></div>
            </div>
            <div class="top-event-row" *ngFor="let user of users">
                <div class="top-event-cell"><div class="image-placeholder">
                    <img [src]="user.profileImage" [alt]="user.userName">
                </div></div>
                <div class="top-event-cell">{{user.userName}}</div>
                <div class="top-event-cell">{{user.email}}</div>
                <div class="top-event-cell">{{user.phoneNumber}}</div>
                <div class="top-event-cell">{{user.location}}</div>
            </div>
        </div>
    </div>
</body>

