
<body>
    <div class="container">
        <div class="stats">
            <div class="stat-card">Total Events<br><span>200</span></div>
            <div class="stat-card">Approved Events<br><span>80</span></div>
            <div class="stat-card">Pending Events<br><span>100</span></div>
            <div class="stat-card">Canceled Events<br><span>20</span></div>
            <div class="stat-card">Total Users<br><span>1000</span></div>
            <div class="stat-card">Event Organizers<br><span>50</span></div>
            <div class="stat-card">Attendees<br><span>900</span></div>
            <div class="stat-card">Total Revenue<br><span>$1000</span></div>
        </div>
        <h2>Top Events</h2>
        <div class="top-events">
            <div class="top-event-row header">
                <div class="top-event-cell"><h2>Image</h2></div>
                <div class="top-event-cell"><h2>Title</h2></div>
                <div class="top-event-cell"><h2>Price</h2></div>
                <div class="top-event-cell"><h2>Location</h2></div>
                <div class="top-event-cell"><h2>Duration</h2></div>
                <div class="top-event-cell"><h2>Tickets</h2></div>
            </div>
            <div class="top-event-row">
                <div class="top-event-cell"><div class="image-placeholder"><img src="zain.jpeg" alt=""></div></div>
                <div class="top-event-cell">Concert with Zayn</div>
                <div class="top-event-cell">$100</div>
                <div class="top-event-cell">Turkey</div>
                <div class="top-event-cell">1 day</div>
                <div class="top-event-cell">1004</div>
            </div>
            <div class="top-event-row">
                <div class="top-event-cell"><div class="image-placeholder"><img src="beach.jpeg" alt=""></div></div>
                <div class="top-event-cell">Beach Party</div>
                <div class="top-event-cell">$90</div>
                <div class="top-event-cell">Mombasa</div>
                <div class="top-event-cell">2 days</div>
                <div class="top-event-cell">879</div>
            </div>
            <div class="top-event-row">
                <div class="top-event-cell"><div class="image-placeholder"><img src="girls.png" alt=""></div></div>
                <div class="top-event-cell">Girl's hangout</div>
                <div class="top-event-cell">$200</div>
                <div class="top-event-cell">Nakuru</div>
                <div class="top-event-cell">1 day</div>
                <div class="top-event-cell">744</div>
            </div>
        </div>
    </div>
</body>

