.sideBar{
    width:19vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 2%;
    position: fixed;
    transition: width 0.3s;
    gap:2%;
    background-color:#8D6F64;
  }
  .heading{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7vh;
  }
  .heading h1{
    color: white;
  }
  .navigation{
    display: flex;
    flex-direction: column;
    width: 100%;
  
  }
  .navigation div{
    display: flex;
    margin-bottom: 2%;
    align-items: center;
    height: 7vh;
    gap: 2%;
    column-gap: 3%;
  }
  .navigation div:hover{
    background-color:#0e0b0a;
  }
  .navigation div img{
    width: 45px;
  }
  .navigation div p{
    color: white;
    width: 50%;
    font-size: x-large;
  }