<div class="sideBar" >
    <div class="heading">
        <h1>Plana Organizer</h1>
    </div> 
    <div class="navigation">
        
        <div class="profile" routerLink="profile">
            <img src="../../../person_24dp (1).png" alt="">
            <p>  Profile </p>
        </div>
        <div class="events" routerLink="events">
            <img src="../../../event_24dp_E8EAED_FILL0_wght400_GRAD0_opsz24.png" alt="">
            <p>  Events </p>
        </div>
        <div class="booked" routerLink="booked">
          <img src="../../../bookmark_24dp_E8EAED_FILL0_wght400_GRAD0_opsz24 (1).png" alt="">
          <p>Booked</p>
        </div>
        <div class="logout" routerLink="logout">
            <img src="../../../logout_24dp (1).png" alt="">
            <p>  LogOut</p>
        </div>
    </div>  
    
  </div>
  
