<div class="container">
    
    <div class="content">
        <div class="titleDiv">
            <h1>Image</h1>
            <h1>Title</h1>
            <h1>singlePrice</h1>
            <h1>couplePrice</h1>
            <h1>groupPrice</h1>
            <h1>Location</h1>
        </div>
        <div class="detailsDiv" *ngFor="let event of events">
            <div class="imageDiv">
                <img [src]="event.images" [alt]="event.eventName">
            </div>
            <h3>{{event.eventName}}</h3>
             <h3>{{event.single}}</h3>
             <h3>{{event.couple}}</h3>
             <h3> {{event.groups}}</h3>
             <h3>{{event.location}}</h3>
             
        </div>
    </div>
</div>


