<div class="container">
    <div class="content">
        <div class="titleDiv">
            <h2>Title</h2>
            <h2>Price(person)</h2>
            <h2>price(couple)</h2>
            <h2>price(group)</h2>
            <h2>Location</h2>
            <h1></h1>
        </div>
        <div class="detailsDiv" *ngFor="let event of events">
            <h3>{{event.eventName}}</h3>
             <h3>{{event.single}}</h3>
             <h3>{{event.couple}}</h3>
             <h3> {{event.groups}}</h3>
             <h3>{{event.location}}</h3>
             <button (click)="approveEvents(event.eventId)"><img src="check_24dp_75FB4C_FILL0_wght400_GRAD0_opsz24.png" alt=""></button>
        </div>
    </div>
</div>


