<div class="container">
    <div class="message" *ngIf="errorMessage" [style]="displays">
        <p>{{errorMessage}}</p>
      </div>
      <div class="message" *ngIf="success" [style]="displays">
        <p>{{success}}</p>
      </div>
    <div class="btn">
        <button (click)="toggleFormFlex()">Add Event</button>
    </div>
   
    <div class="content">
        <div class="titleDiv">
            <h1>Image</h1>
            <h1>Title</h1>
            <h1>Location</h1>
            <h1>Description</h1>
        </div>
        <div class="detailsDiv" *ngFor="let event of events">
            <div class="imageDiv">
                <img [src]="event.images" [alt]="event.eventName">
            </div>
            <h3>{{event.eventName}}</h3>
             <h3>{{event.location}}</h3>
             <h3> {{event.description}}</h3>
             <button (click)="toggleUpdateFlex(event.eventId)"><img src="edit_note_24dp_000000_FILL0_wght400_GRAD0_opsz24.png" alt=""></button>
            <button><img src="delete_24dp_8B1A10_FILL0_wght400_GRAD0_opsz24.png" alt="" (click)="deleteEvents(event.eventId)"></button>
        </div>
    </div>
    
    <div class="form-container" [style]="display" >
        <form [formGroup]="eventForm" (ngSubmit)="chooseMethod()">
            <label for="">Title:</label>
            <input type="text" formControlName="eventName">
            <label for="start-date">start-date</label>
            <input type="date" formControlName="startDate">
            <label for="">end-date</label>
            <input type="date" formControlName="endDate">
            <label for="">location</label>
            <input type="text" formControlName="location">
            <label for="">Description</label>
            <input type="text" formControlName="description">
            <label for="">longDescription</label>
            <input type="text" formControlName="longDescription">
            <label for="">Image</label>
            <input type="file" (change)="geteventPhotos($event)">
            <label for="">ticketsNumber</label>
            <input type="text" formControlName="totalTickets">
            <label for="">bookingDeadline</label>
            <input type="date" formControlName="bookingDeadline">
            <label for="">single's price</label>
            <input type="text" formControlName="single">
            <label for="">couple's price</label>
            <input type="text" formControlName="couple">
            <label for="">group of five price</label>
            <input type="text" formControlName="groups">
            <input type="submit" [value]="value">
            <button type="button" (click)="toggleForm()">Cancel</button> 
            
        </form>
        
    </div>

</div>


