<div class="entirePage">
    <div class="container">
        <div class="imageDiv">
            <img src="../../../form.jpg" alt="">
        </div>
        <div class="formDiv">
            <form>
                <div class="title">
                    <h1 style="color: #8D6F64;">Reset Password</h1>
                </div>
                <div class="form-group">
                    <label for="password">New Password *</label>
                    <input type="password" id="password" name="password">
                </div>
                  <div class="form-group">
                    <label for="confirmPassword">Confirm <br> New Password *</label>
                    <input type="password" id="confirmPassword" name="confirmPassword">
                  </div>
                  <div class="formGroup">
                    <button type="submit">Reset Password</button>
                  </div>
                  <div class="formGroup">
                    <p>Remember password? <a routerLink="/login" style="color: #8D6F64;">Login here</a></p>
                  </div>
            </form>
        </div>
    </div>
</div>
