
<body>
    <header>
        <nav>
            <h1>plana Concerts</h1>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Booking</a></li>
                <li><a href="#">Categories</a></li>
                <li><a href="#">Support</a></li>
                <li><a href="#">My Account</a></li>
            </ul>
        </nav>
        <div class="header-content">
            <h1>Music Concerts to remember!!Book with us</h1>
            <button routerLink="/register">Get Started</button>
        </div>
    </header>
    <section class="events">
        <div class="event-item">
            <img src="../../../zain.jpeg" alt="">
        </div>
        <div class="event-item">
            <img src="../../../bieber.jpeg" alt="">
        </div>
        <div class="event-item">
            <img src="../../../tyla.jpg" alt="">
        </div>
        <div class="event-item">
            <img src="../../../ariana.jpeg" alt="">
        </div>
        <div class="event-item">
            <img src="../../../maroon.jpeg" alt="">
        </div>
    </section>
    <section class="services">
        <h2>We Provide The Best Service For Your Event</h2>
        <div class="services-container">
            <div class="service-item">
                <h3>Venue Selection</h3>
                <p>We help you find the perfect venue for your event.</p>
            </div>
            <div class="service-item">
                <h3>Decoration</h3>
                <p>We provide top-notch decoration services.</p>
            </div>
            <div class="service-item">
                <h3>Invitation Card</h3>
                <p>Beautifully designed invitation cards for all occasions.</p>
            </div>
            <div class="service-item">
                <h3>Entertainment</h3>
                <p>Music, dance, and more to keep your guests entertained.</p>
            </div>
            <div class="service-item">
                <h3>Photography</h3>
                <p>Capture your moments beautifully.</p>
            </div>
            <div class="service-item">
                <h3>Catering</h3>
                <p>Delicious food and drinks for your guests.</p>
            </div>
        </div>
    </section>
    <section class="about">
        <div class="about-image">
            <img src="../../../fam.jpeg" alt="">
        </div>
        <div class="about-content">
            <h2>Your Plans</h2>
            <p>We Are The Best Event Planners & Organizers In Town</p>
            <ul>
                <li>Best Quality Services</li>
                <li>100% Satisfaction Guarantee</li>
                <li>Commitment to Customer</li>
                <li>Highly Professional Team</li>
            </ul>
        </div>
    </section>
    
    
    <footer>
        <h2>Contact Us</h2>
        <p>Email: info&#64;plana.com</p>
        <p>Phone: +1234567890</p>
    </footer>
</body>

