.container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 2%;
}

.productDiv{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
    margin-bottom: 20px;
    height: 300px;
    border-radius: 10px;
}
.oneProduct{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
    margin-bottom: 20px;
    height: 500px;
    border-radius: 10px;
}
.imageDiv{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height:50% ;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.imageDiv img{
    width:100% ;
    height: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.productDetails{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
}
.details{
    width: 50%;
    margin-left: 2%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content:space-between ;
    margin-top: 4%;
    margin-bottom: 4%;
}
.detail{
    width: 100%;
    margin-left: 2%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content:space-between ;
    margin-top: 4%;
    margin-bottom: 4%; 
}
.buttonDiv{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 20%;
    margin-right: 2%;
    height: 100%;
}
.buttonsDiv{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 20%;
    margin-right: 2%;
    height: 30%;  
    align-items: center;
    
}
.buttonDiv button{
    background-color:#8D6F64 ;
    color: white;
    height: 25%;
    border-radius: 10px;
    border: none;
}
.buttonDiv button:hover{
    background-color: black;
}





/* .container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 2%;
  }
  
  .productDiv {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
    margin-bottom: 20px;
    height: 300px;
    border-radius: 10px;
  }
  
  .oneProduct {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
    margin-bottom: 20px;
    height: 500px;
    border-radius: 10px;
  }
  
  .imageDiv {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .imageDiv img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .productDetails {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  
  .details {
    width: 50%;
    margin-left: 2%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 4%;
    margin-bottom: 4%;
  }
  
  .detail {
    width: 100%;
    margin-left: 2%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 4%;
    margin-bottom: 4%;
  }
  
  .buttonDiv {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 20%;
    margin-right: 2%;
    height: 100%;
  }
  
  .buttonsDiv {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 20%;
    margin-right: 2%;
    height: 30%;
    align-items: center;
  }
  
  .buttonDiv button,
  .buttonsDiv button {
    background-color: #8d6f64;
    color: white;
    height: 25%;
    border-radius: 10px;
    border: none;
  }
  
  .buttonDiv button:hover,
  .buttonsDiv button:hover {
    background-color: black;
  }
   */
