<div class="user-profile">
  <div class="profile-card" *ngFor="let user of users">
      <div class="imageCard">
        <img [src]="user.profileImage" [alt]="user.userName">
      </div>
      <div class="userDetails">
        <h2><strong>Username:</strong> {{user.userName}}</h2>
        <h2><strong>Phone Number:</strong> {{user.phoneNumber}} </h2>
        <h2><strong>Email:</strong> {{user.email}}</h2>
        <h2><strong>Location:</strong>  {{user.location}}</h2>
        <button>Update</button>
      </div> 
    </div>
  </div>

