
<body>
    <div class="container">
        <div class="events">
            <div class="event-card" *ngFor="let event of events" (click)="onCardClick(event)" >
                <div class="image-placeholder"><img [src]="event.images" [alt]="event.eventName"></div>
                <h3>{{event.eventName}}</h3>
            </div>
        </div>
        <div class="tickets" *ngIf="selectedEvent">
            <div class="ticket-info">
                <p>Total Tickets</p>
                <h3>{{selectedEvent.totalTickets}}</h3>
            </div>
            <div class="ticket-info">
                <p>Booked Tickets</p>
                <h3>{{selectedEvent.bookedTickets}}</h3>
            </div>
            <div class="ticket-info">
                <p>Remaining Tickets</p>
                <div class="remaini" *ngIf="!selectedEvent.remainingTickets">
                    <h3>{{selectedEvent.totalTickets}}</h3>
                </div>
                <div class="remaini" *ngIf="selectedEvent.remainingTickets">
                    <h3>{{selectedEvent.remainingTickets}}</h3>
                </div>
            </div>
        </div>
        <div class="user-info">
            <h1 class="heading">Booked Users</h1>
            <div class="user-row header">
                <div class="user-cell"><h2>Username</h2></div>
                <div class="user-cell"><h2>Email</h2></div>
                <div class="user-cell"><h2>Phone number</h2></div>
                <div class="user-cell"><h2>Event</h2></div>
                <div class="user-cell"><h2>Action</h2></div>
            </div>
            
            <div class="user-row" *ngFor="let user of bookedUsers;let i = index">
                <div class="user-cell">{{user.userName}}</div>
                <div class="user-cell">{{user.email}}</div>
                <div class="user-cell">{{user.phoneNumber}}</div>
                <div class="user-cell">{{events[i].eventName}}</div>
                <div class="user-cell">
                    <button (click)="updateBookStatus(bookings[1].bookId)" class="action-btn accept">✔</button>
                    <button class="action-btn reject">✖</button>
                </div>
            </div>
        </div>
    </div>
</body>
