<div class="container">
    <div class="content">
        <div class="titleDiv">
            <h2></h2>
            <h2>UserName</h2>
            <h2>Email</h2>
            <h2>PhoneNumber</h2>
            <h2>Event</h2>
        </div>
        <div class="detailsDiv" *ngFor="let user of users">
            <div class="imageDiv">
                <img [src]="user.profileImage" [alt]="user.userName">
            </div>
            <h3>{{user.userName}}</h3>
             <h3>{{user.email}}</h3>
             <h3>{{user.phoneNumber}}</h3>
             <h3> {{events[1].eventName}}</h3>
        </div>
    </div>
</div>
